 <!-- start of header -->
  <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f4f5" style="font-family: Helvetica, arial, sans-serif;" st-sortable="header" id="backgroundTable">
      <tbody>
         <tr>
            <td>
        <table width="580" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5" style="border-left: 2px solid #80BA06; border-right: 2px solid #80BA06; border-top: 2px solid #80BA06;">
                  <tbody>
                     <tr>
                        <td>
                           <!-- logo -->
                           <table width="163" align="left" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                 <tr>
                                    <td width="270" valign="middle" class="logo" style="padding: 10px 0 10px 20px;">
                                      
                                          <a href="#"><img border="0" class="logo" st-image="edit" style="display:block; border:none; outline:none; text-decoration:none;" alt="logo" src="http://res.cloudinary.com/abhicloud/image/upload/v1441345464/logo_mqya1a.png"></a>
                                       
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <!-- End of logo -->
                           <!-- menu -->
                           <table width="417" align="right" cellspacing="0" cellpadding="0" border="0">
                              <tbody>
                                 <tr>
                  <td width="270" valign="middle" align="right" st-content="menu" class="menu" style="font-family: Helvetica,Arial,sans-serif; font-size: 23px; color: rgb(0, 0, 0); line-height: 66px; padding: 10px 0px; text-align: left;">
                                      Where Old Books Meet New Friends!
                                    </td>
                                    <td width="20"></td>
                                 </tr>
                              </tbody>
                           </table>
                           <!-- End of Menu -->
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <!-- end of header -->


   <!-- image + text -->
   <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f4f5" st-sortable="bigimage" id="backgroundTable">
      <tbody>
         <tr>
            <td>
               <table width="580" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="border-left:2px solid #80BA06; border-right:2px solid #80BA06; border-bottom:2px solid #80BA06;">
                  <tbody>
                     
                     <tr>
                        <td>
                           <table width="540" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidthinner">
                              <tbody>
                                 
                                 
                                 <tr>
                                    <td st-content="rightimage-paragraph" style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #464646; text-align:left;line-height: 24px; padding:7px;">
You’re Book Matches from <span style="color:#B5DC5F; font-weight:bold">Novelinked.com </span>
                                    </td>
                                 </tr>
                                 
                                <tr>
                  <td>
                                        <table style="border: 1px solid #DDD;">
                      <thead>
                      <tr>
                        <th style="padding: 5px 10px; vertical-align: top; width: 60px; border-bottom: 2px solid #81BA06; font-family: Helvetica,arial,sans-serif; font-size: 14px; font-weight: 600;border-right: 1px solid #ededed;">Sr. No</th>
                        <th style="padding: 5px 10px; vertical-align: top; width: 380px; border-bottom: 2px solid #81BA06; font-family: Helvetica,arial,sans-serif; font-size: 14px; font-weight: 600;border-right: 1px solid #ededed;">Name of Book, Author and Category</th>
                        <th style="padding: 5px 10px; vertical-align: top; width: 120px; border-bottom: 2px solid #81BA06; font-family: Helvetica,arial,sans-serif; font-size: 14px; font-weight: 600;">Distance Away from you #</th>
                        
                      </tr>
                      </thead>
                      <tbody>
                      <%count = 1%>
                    <% @matches.each do |match|%>
                      <tr>
                        <td style=" padding: 5px 10px; vertical-align: top; width: 60px;
                        border-bottom: 1px solid #ededed; text-align: center;font-family: Helvetica, arial, sans-serif;border-right: 1px solid #ededed;"><%= count %></td>
                        <td style="padding: 5px 10px; vertical-align: top; width: 380px;
                        border-bottom: 1px solid #ededed;font-family: Helvetica, arial, sans-serif;text-align:center;border-right: 1px solid #ededed;"><p style="color:#B5DC5F;padding: 0px; margin: 0px;font-size: 14px;"><%= match["title"]%></p>
                        <p style="padding: 0px; margin: 0px;font-size: 14px;"><%= match["author"]%></p>
                        <p style="padding: 0px; margin: 0px;font-size: 14px;"><%= match["genre"]%></p>
                        </td>
                        <td style="padding: 5px 10px; vertical-align: top; width: 120px;
                        border-bottom: 1px solid #ededed;font-family: Helvetica, arial, sans-serif;text-align:center;"><%= match[:distance]%></td>
                        
                      </tr> 
                      <%count = count+1%>
                    <%end%>
                      </tbody>
                    </table>
  <br>
                  </td>
                </tr>
                                 <!-- Spacing -->
                <!--  <tr>
                                    <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #464646; text-align:left;line-height: 24px; padding:7px;" st-content="rightimage-paragraph">
# We have used the catalog location of the first book in your catalogued books (check with Rahul) to arrive at the matches. Please use this setting in the Search Potential Matches Screen to come up with these matches. Initiate your chat, save money, make friends and swap away!
                                    </td>
                                 </tr> -->
                 
                 
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>

  
