<legend>You’re Book Matches from Novelinked App</legend>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>Name of Book, Author and Category</th>
      <th>Distance Away from you</th>
    </tr>
  </thead>
  <%count = 1%>
  <tbody>
  <% @matches.each do |match|%>
    <tr class="info">
      <td><%= count %></td>
      <td><%= match[:title]%></br><%= match[:author]%></br><%= match[:genre]%></td>
      <td><%= match[:distance]%> </td>
    </tr>
    <%count = count+1%>
    <%end%>
  </tbody>
</table> 
<p>
We have used the catalog location of the first book in your catalogued books to arrive at the matches. Please use this setting in the Search Potential Matches Screen to come up with these matches. Initiate your chat, make friends and swap away!
</p>

