<% provide(:title, 'Meetup and Swap Books of Favorite Authors For Free') %>
<% meta_description "Read books of popular authors free by connecting to people around you.  Novelinked App finds the perfect book match. Meet up with like-minded people or just swap novels." %>
<% meta_keywords "Meet Up, new friends online, exchange second hand books, swap used books online, trade free novels, exchange old books, swap second hand books, trade famous author novels, online second hand books trading" %>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav navi navbar-2" role="navigation " data-0="background-color:rgba(0,0,0,0); " data-300=" background-color:rgba(0,0,0,1);">
  <div class="container topnav">
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="navbar-header">
          <a class="navbar-brand topnav" href="/"><img  src="../assets/logo.png"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#services">How It Works</a>
            </li>
            <li>
              <a href="#benefits">Benefits</a>
            </li>
            <li>
              <a href="/about_us">My Story</a>
            </li>
            <li>
              <a href="/my_team">My Team</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="intro-message">
    <div class="resp-head">
      <h1>Where Old Books Meet New Friends</h1>
    </div>
    <div class="play-btn">
      <a href="#"  data-toggle="modal" data-target="#vdo" data-theVideo="https://player.vimeo.com/video/132415741"><span></span></a>
      <div class="btn-sec btn-sec-1">
        <a data-toggle="modal" data-target="#contact_us" role="button" href="#" class="btn btn-default btn-red">Journey With Us</a>
      </div>
      <div class="btn-sec2 btn-sec-1">
        <a data-toggle="modal" data-target="#contact2_us" role="button" href="#" class="btn btn-default btn-red2">Join Our Event</a>
      </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="car-img" src="../assets/1.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/2.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/3.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/4.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/5.png" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="green-band">
  <div class="container">
    <div class="row">
      <form class="form-inline sec-marg">
        <div class="col-md-10 col-sm-8">
          <div class="appBtns">
            <a href="https://itunes.apple.com/us/app/novelinked-social-book-swaps/id1031267627" target="_blank"><img src="assets/app-icon.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.novAlinked" target="_blank"><img src="assets/gplay-icon.png"></a>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="social-r clearfix">
            <div class="label-top">Socialize with Us</div>
            <div class="foter-social">
              <ul class="banner-social-buttons list-inline">
                <li><a href="https://www.facebook.com/Novelinked" class="f-ico" target="_blank"></a></li>
                <li><a href="https://twitter.com/Novelinked" class="t-ico" target="_blank"></a></li>
                <li><a href="https://plus.google.com/114794872396110872910/posts" target="_blank" class="g-ico"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <a name="services"></a> -->
<div class="content-section-b" id="services">
  <div id="carousel-example-captions" class="carousel slide main" data-ride="carousel">
    <h3>How It Works</h3>
    <div class="awardBannerBx">
      <div class="awardBanner">
        <ul class="bannerSlider">
          <li><img src="assets/awards-img1.png" alt=""></li>
          <li><img src="assets/awards-img2.png" alt=""></li>
          <li><img src="assets/awards-img3.png" alt=""></li>
          <li><img src="assets/awards-img4.png" alt=""></li>
          <li><img src="assets/awards-img5.png" alt=""></li>
          <li><img src="assets/awards-img6.png" alt=""></li>
          <li><img src="assets/awards-img7.png" alt=""></li>
          <li><img src="assets/awards-img8.png" alt=""></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<a name="benefits"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row main">
      <h3>Benefits</h3>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="mob-img1">
          <img src="../assets/mob-1-r.png" width="100%">
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="clearfix text-sec-1">
          <ul>
            <li class="lead1">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              The service and books are absolutely free
            </li>
            <li class="lead2">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              Read published books of popular authors not usually available in e-book format
            </li>
            <li class="lead3">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              Flexible platform which can be used to exchange books OR to meet up, socialize and make new friends.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 pull-right">
        <div class="mob-img2">
          <img src="../assets/mob-2-r.png" width="100%">
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="clearfix text-sec-1">
          <ul>
            <li class="lead-1">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              Get more books for free in a series your kids love reading
            </li>
            <li class="lead-2">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              Introduce your kids to new authors without having to buy the book
            </li>
            <li class="lead-3">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              We use your reading preferences to generate matches, not social media profiles
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 main">
        <div class="main-w">
          <div class="btn-sec">
            <a class="btn btn-default btn-red" href="#" role="button" data-target="#contact_us" data-toggle="modal">Journey With Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright text-muted small">© 2015 All rights reserved.</p>
      </div>
      <div class="col-md-4 pull-right col-sm-6">
        <ul class="list-inline pull-right marg-10 footr">
          <li>
            <a href="/privacy_policy">Privacy Policy</a>
          </li>
          <li class="footer-menu-divider">|</li>
          <li>
            <a href="/terms_of_use">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="exampleModalLabel" class="modal-title">Your Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact_us,url: contact_us_path, :html=>{:class => "contact_us_form",id: "contact-form"} do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Name</label>
            <%= f.text_field :name, autofocus: true, :class => "form-control form-c" %>
            <span class="error-name error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Email</label>
            <%= f.email_field :email, :class=> "form-control form-c"  %>
            <span class="error-email error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Country</label>
            <%= country_list%>  
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Gender</label>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Male', :checked=> true %>
              Male
              </label>
            </div>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Female' %>
              Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Author Code (if any)</label>
            <%= f.text_field :author_code, :class=> "form-control form-c"  %>
          </div>
        </div>
        <div class="modal-footer put-center">
          <a href="#" class="btn btn-default btn-red" type="button" id = "contact_us_valid" onclick="$('.contact_us_form').submit();">Journey With Us</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--Start of form 2-->
<div class="modal fade" id="contact2_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="exampleModalLabel" class="modal-title">Your Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact_us,url: contact_us_path, :html=>{:class => "join_event_form",id: "join_event_form"} do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Name<span style='color:red'>*</span></label>
            <%= f.text_field :name, :required => true, autofocus: true, :class => "form-control form-c" %>
            <span class="error-name error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Surname<span style='color:red'>*</span></label>
            <%= f.text_field :surname, :required => true, :class => "form-control form-c" %>
            <span class="error-name error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Email Address<span style='color:red'>*</span></label>
            <%= f.email_field :email, :required => true, :email => true,  :class=> "form-control form-c" %>
            <span class="error-email error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Country</label>
            <%= country_list %>  
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Gender</label>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Male', :checked=> true %>
              Male
              </label>
            </div>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Female' %>
              Female
              </label>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Your Best Picture</label>
            <%#= f.file_field :avatar, :class=>"filestyle", "data-icon"=>"false" %>
            <span class="error-name error"></span>
          </div> -->
          <%=hidden_field_tag :join_event, true%>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Your Best Quote </label>
            <div class="bestquoteList">
              <ul>
                <li><input type="radio" name="contact_us[quotes]" value='1', chacked= "chacked">
                  “There are no faster or firmer friendships than those formed between people who love the same books” <span>Irving Stone</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='2'>
                  There are many little ways to enlarge your child’s world. Love of books is the best of all.  <span>Jacqueline Kennedy Onassis</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='3'>
                  There is no friend as loyal as a book <span>Earnest Hemingway</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='4'>
                  The more we share, the more we have <span>Leonard Nimoy</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='5'>
                  If you have a candle, the light won’t glow any dimmer if I light yours off  of mine	 <span>Steven Tyler</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Author Code (if any)</label>
            <%#= f.text_field :author_code, :class=> "form-control form-c"  %>
          </div> -->
        </div>
        <div class="modal-footer put-center">
          <a href="#" class="btn btn-default btn-red" type="button" id = "contact_us_valid" onclick="$('.join_event_form').submit();">Join our Event</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--End of-->
<div class="modal fade" id="vdo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close pull-right cls-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body-vdo">
        <div class="vdo-sec">
          <iframe width="600" height="800" src=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(window).scroll(function() {
      if ($(this).scrollTop() > 800){  
          $('nav').addClass("sticky");
      }
      else{
          $('nav').removeClass("sticky");
      }
  });
  
  
</script>	
<script>
  autoPlayYouTubeModal();
  
  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlayYouTubeModal() {
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
          $('.modal').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
  }
  
</script>
<script type="text/javascript">
  $(document).ready(function(){
      $('#carousel-example-captions').carousel({
          interval: 10000
      })
   });
</script>
<!-- <script src="js/jquery.bxslider.js"></script> -->
<script>
$('.bannerSlider').bxSlider({
  minSlides: 1,
  maxSlides: 1,
  slideMargin: 0,
  moveSlides: 1,
  auto:true,
});
</script>