<% provide(:title, 'Meetup and Swap Books of Favorite Authors For Free') %>
<% meta_description "Read books of popular authors free by connecting to people around you.  Novelinked App finds the perfect book match. Meet up with like-minded people or just swap novels." %>
<% meta_keywords "Meet Up, new friends online, exchange second hand books, swap used books online, trade free novels, exchange old books, swap second hand books, trade famous author novels, online second hand books trading" %>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav navi navbar-2" role="navigation " data-0="background-color:rgba(0,0,0,0); " data-300=" background-color:rgba(0,0,0,1);">
  <div class="container topnav">
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="navbar-header">
          <a class="navbar-brand topnav" href="/"><img  src="../assets/logo.png"></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#services">How It Works</a>
            </li>
            <li>
              <a href="#benefits">Benefits</a>
            </li>
            <li>
              <a href="/about_us">My Story</a>
            </li>
            <li>
              <a href="/my_team">My Team</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="intro-message">
    <div class="resp-head">
      <h1>Where Old Books Meet New Friends</h1>
    </div>
    <div class="play-btn">
      <a href="#"  data-toggle="modal" data-target="#vdo" data-theVideo="https://player.vimeo.com/video/132415741"><span></span></a>
      <div class="btn-sec btn-sec-1">
        <!-- <a data-toggle="modal" data-target="#contact_us" role="button" href="#" class="btn btn-default btn-red">Journey With Us</a> -->
      </div>
      <div class="btn-sec2 btn-sec-1">
        <a data-toggle="modal" data-target="#contact2_us" role="button" href="#" class="btn btn-default btn-red2">Join Our Event</a>
      </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="car-img" src="../assets/a1.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/a2.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/a3.png" alt="...">
        </div>
        <div class="item">
          <img class="car-img" src="../assets/a4.png" alt="...">
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="green-band">
  <div class="container">
    <div class="row">
      <form class="form-inline sec-marg">
        <div class="col-md-9 col-sm-8">
          <div class="appBtns">
            <a href="https://itunes.apple.com/us/app/novelinked-social-book-swaps/id1031267627" target="_blank"><img src="assets/app-icon.png"></a>
            <a href="https://play.google.com/store/apps/details?id=com.novAlinked" target="_blank"><img src="assets/gplay-icon.png"></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="social-r clearfix">
            <div class="label-top">Socialize with Us</div>
            <div class="foter-social">
              <ul class="banner-social-buttons list-inline">
                <li><a href="https://www.facebook.com/Novelinked" class="f-ico" target="_blank"></a></li>
                <li><a href="https://twitter.com/Novelinked" class="t-ico" target="_blank"></a></li>
                <li><a href="https://plus.google.com/114794872396110872910/posts" target="_blank" class="g-ico"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <a name="services"></a> -->
<div class="content-section-b" id="services">
  <div id="carousel-example-captions" class="carousel slide main" data-ride="carousel">
    <h3>How It Works</h3>
    <div class="container">
      <div class="awardBannerBx">
        <div class="awardBanner">
          <ul class="bannerSlider">
            <li class="clearfix">
              <div class="slider-left"><span>Catalog Books with our in-built barcode scanner or manually</span>
              Scanning the barcode at the back of the book will give you the Book Name, Author and Cover Picture if available. Then select the category of books that best describes the book and upload it. If the book is not in our database, you can manually enter the above details. 
            </div>
            <div class="slider-right"><img src="assets/awards-img11.png" alt=""></div>
            </li>
                <li>
              <div class="slider-left"><span>List of books catalogued which are books you are ready to swap</span>
              Once you have uploaded the books by scanning or manually, you have a list of books which you are willing to swap with others who prefer to read those books. You can manage this list by sliding the entries left to delete. 
            </div>
            <div class="slider-right"><img src="assets/awards-img12.png" alt=""></div>
            </li>
              <li>
                <div class="slider-left"><span>Register your reading preferences through three convenient options</span>
                If you are a Goodreads user, you can import your reading preferences into the app, saving you time to manually enter them. If you have a specific book ISBN number, you can search our database and add it or simply search for an author and add books by that author. You can also enter your preferences manually. Entering a book name specifically searches for that book among other users while entering an author will search for all books written by that author.  
              </div>
              <div class="slider-right"><img src="assets/awards-img13.png" alt=""></div>
              </li>
              <li>
                <div class="slider-left"><span>Reading preferences is a list of books, authors &amp; / or categories you would like to read</span>
                You can manage this list by deleting preferences by swiping left and deactivating them by swiping right. If you find you have too many or too few matches, you can delete or add to your preferences here. 
              </div>
              <div class="slider-right"><img src="assets/awards-img14.png" alt=""></div>
              </li>
              <li>
                <div class="slider-left"><span>Search potential matches based on your location and distance</span>
                You can search for potential book matches using two location based criteria. Select your base location (think of it like the center of a circle) which is either where you are currently or where you’re catalogued books are located. Then use the Distance Selector (like adjusting the compass to draw a specific sized circle) to decide your area of coverage. We then search for matches based on these criteria.
              </div>
              <div class="slider-right"><img src="assets/awards-img15.png" alt=""></div>
              </li>
              <li>
                <div class="slider-left"><span>Potential swaps with “Get a Free Book” invite button to swap books</span>
                Here is where we display your potential matches. Swipe left to see the next swaps we have found. You can tap on the profile picture of your potential match and view his library if you think you want to swap more than one book. Tapping on “Get a Free Book” will send an invite to the other user.  
              </div>
              <div class="slider-right"><img src="assets/awards-img16.png" alt=""></div>
              </li>
              <li>
                <div class="slider-left"><span>Chat Screen to get to know your swap partner and decide location to meet up</span>
                Once the other user accepts your invite you will receive a notification to join the chat. In the chat window, you can add other people, share pictures of the book and get to know the other user before deciding a location to meet up and swap books.  
              </div>
              <div class="slider-right"><img src="assets/awards-img17.png" alt=""></div>
            </li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
<a name="benefits"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row main">
      <h3>Benefits</h3>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="mob-img1">
          <img src="../assets/mob-11-r.png" >
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="clearfix text-sec-1">
          <ul>
            <li class="lead1">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              The service and books are absolutely free
            </li>
            <li class="lead2">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              Read published books of popular authors not usually available in e-book format
            </li>
            <li class="lead3">
              <div class="bul-line">
                <img src="../assets/bullets-l.png">
              </div>
              Flexible platform which can be used to exchange books OR to meet up, socialize and make new friends.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 pull-right">
        <div class="mob-img2">
          <img src="../assets/mob-12-r.png">
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="clearfix text-sec-1">
          <ul>
            <li class="lead-1">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              Get more books for free in a series your kids love reading
            </li>
            <li class="lead-2">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              Introduce your kids to new authors without having to buy the book
            </li>
            <li class="lead-3">
              <div class="bul-line-r">
                <img src="../assets/bullets.png">
              </div>
              We use your reading preferences to generate matches, not social media profiles
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 main">
        <div class="main-w">
          <div class="btn-sec">
            <!-- <a class="btn btn-default btn-red" href="#" role="button" data-target="#contact_us" data-toggle="modal">Journey With Us</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright text-muted small">© 2015 All rights reserved.</p>
      </div>
      <div class="col-md-4 pull-right col-sm-6">
        <ul class="list-inline pull-right marg-10 footr">
          <li>
            <a href="/privacy_policy">Privacy Policy</a>
          </li>
          <li class="footer-menu-divider">|</li>
          <li>
            <a href="/terms_of_use">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="exampleModalLabel" class="modal-title">Your Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact_us,url: contact_us_path, :html=>{:class => "contact_us_form",id: "contact-form"} do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Name</label>
            <%= f.text_field :name, autofocus: true, :class => "form-control form-c" %>
            <span class="error-name error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Email</label>
            <%= f.email_field :email, :class=> "form-control form-c"  %>
            <span class="error-email error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Country</label>
            <%= country_list%>  
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Gender</label>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Male', :checked=> true %>
              Male
              </label>
            </div>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Female' %>
              Female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Author Code (if any)</label>
            <%= f.text_field :author_code, :class=> "form-control form-c"  %>
          </div>
        </div>
        <div class="modal-footer put-center">
          <a href="#" class="btn btn-default btn-red" type="button" id = "contact_us_valid" onclick="$('.contact_us_form').submit();">Journey With Us</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--Start of form 2-->
<div class="modal fade" id="contact2_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="exampleModalLabel" class="modal-title">Your Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact_us,url: contact_us_path, :html=>{:class => "join_event_form",id: "join_event_form"} do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Name<span style='color:red'>*</span></label>
            <%= f.text_field :name, id: "name", autofocus: true, :class => "form-control form-c" %>
            <span id="name_span" class="error-name error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Surname<span style='color:red'>*</span></label>
            <%= f.text_field :surname, id: "surname", :class => "form-control form-c" %>
            <span id="surname_span" class="error-name error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Email Address<span style='color:red'>*</span></label>
            <%= f.email_field :email, id: "email", :class=> "form-control form-c" %>
            <span id="email_span" class="error-email error"></span>
          </div>
          <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Country<span style='color:red'>*</span></label>
            <%= country %>
            <span id="country_span" class="error-email error"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Gender</label>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Male', :checked=> true %>
              Male
              </label>
            </div>
            <div class="radio">
              <label>
              <%= f.radio_button :gender, 'Female' %>
              Female
              </label>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="exampleInputEmail1" class="label-txt">Your Best Picture</label>
            <%#= f.file_field :avatar, :class=>"filestyle", "data-icon"=>"false" %>
            <span class="error-name error"></span>
          </div> -->
          <%=hidden_field_tag :join_event, true%>
         <!--  <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Your Best Quote </label>
            <div class="bestquoteList">
              <ul>
                <li><input type="radio" name="contact_us[quotes]" value='1', chacked= "chacked">
                  “There are no faster or firmer friendships than those formed between people who love the same books” <span>Irving Stone</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='2'>
                  There are many little ways to enlarge your child’s world. Love of books is the best of all.  <span>Jacqueline Kennedy Onassis</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='3'>
                  There is no friend as loyal as a book <span>Earnest Hemingway</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='4'>
                  The more we share, the more we have <span>Leonard Nimoy</span>
                </li>
                <li><input type="radio" name="contact_us[quotes]" value='5'>
                  If you have a candle, the light won’t glow any dimmer if I light yours off  of mine	 <span>Steven Tyler</span>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label class="label-txt" for="exampleInputEmail1">Author Code (if any)</label>
            <%#= f.text_field :author_code, :class=> "form-control form-c"  %>
          </div> -->
        </div>
        <div class="modal-footer put-center">
          <a href="javascript:void();" class="btn btn-default btn-red2" type="button" onclick="jef_click();">Join our Event</a>
          <a style="display:none" href="#" class="btn btn-default btn-red" type="button" id = "contact_us_valid" onclick="$('.join_event_form').submit();">Join our Event</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--End of-->
<div class="modal fade" id="vdo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close pull-right cls-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body-vdo">
        <div class="vdo-sec">
          <iframe width="600" height="800" src=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(window).scroll(function() {
      if ($(this).scrollTop() > 800){  
          $('nav').addClass("sticky");
      }
      else{
          $('nav').removeClass("sticky");
      }
  });
  
  
</script>	

<script>
  autoPlayYouTubeModal();
  
  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlayYouTubeModal() {
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
          $('.modal').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
  }
  
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $('#carousel-example-captions').carousel({
          interval: 10000
      })
   });

</script>
<script type="text/javascript">
function jef_click(){
    var email = document.getElementById('email');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var arr = [];
  if ($('#name').val()=="") {
    // alert("name can not blank");
    $('#name_span').html("This field is required");
     arr.insert('name')
    }
  else{
     $('#name_span').html("");
  }

  if ($('#surname').val()=="") {
     // alert("surname can not blank");
     $('#surname_span').html("This field is required");
      arr.insert('surname')
   }
  else{ 
    $('#surname_span').html("");
  }

  if ($('#email').val()=="") {
     // alert("email can not blank");
     $('#email_span').html("This field is required");
      arr.insert('email')
   }
  else{
      if (!filter.test(email.value)) {
      // alert('Please provide a valid email address');
      $('#email_span').html("Please provide a valid email address");
      email.focus;
      return false;
      arr.insert('email')
       }
      else
      { 
         $('#email_span').html("");
      }
  }
  
  if ($("#country3 option:selected").text()=="Select Country") {
     $('#country_span').html("Please select country");
      arr.insert('country')
   }
   else{
     $('#country_span').html("");
  }


  if (arr.length == 0)
  {
    $('.join_event_form').submit();
  }
  else{
    // alert(arr);  
  }

}


</script>
<!-- <script src="js/jquery.bxslider.js"></script>  -->
<script>
  $('.bannerSlider').bxSlider({
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 0,
    moveSlides: 1,
    auto:false,
  });
</script>