<% content_for :head do %>  
  <meta property="og:image" content="<%=country_event(@contact_us.country)[0]%>" />
  <meta property="og:url"    content="<%=country_event(@contact_us.country,@url)[1]%>" /> 
  <meta property="og:title"  content="Thank You <%=@contact_us.name%> For Entering Our Event!!" />
  <meta property="og:description"  content="Novelinked is the only Social Book Swapping App which promises you an unlimited supply of Free Books of your Favorite Authors. Download Us and Enter A New World of Free Books!!" />   
<% end %>

<% provide(:title, 'Thanks for starting your Journey with Us') %>
<nav class="navbar navbar-default navbar-fixed-top topnav navi other-nav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-md-6 col-sm-4">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="/"><img  src="../assets/logo.png"></a>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-md-6 col-sm-8">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="other-nav">
              <a href="#about" data-toggle="modal" data-target="#contact_us" data-whatever="@mdo">Journey with Us</a>
            </li>
            <li class="other-nav">
              <a href="http://novelinked.com#services">How It Works</a>
            </li>
            <li class="other-nav">
              <a href="http://novelinked.com#benefits">Benefits</a>
            </li>
            <li class="other-nav">
              <a href="/about_us">My Story</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="content-section-b padd-sec">
  <div class="grn-bnd"></div>
  <div class="container">
    <div class="row">

      <%if params[:join_event]%>
      <div class="col-md-8 col-md-offset-2 about-head thankBx">
        <h3 class="text-c">Thank You <span><%=@contact_us.name%></span> For Entering Our Event!!</h3>
        <div class="row">
          <div class="text-area">
            <p class="text-c">"Novelinked" is the only Social Book Swapping App which promises you an unlimited supply of Free Books of your Favorite Authors. Download Us and Enter A New World of Free Books!!</p>
          </div>
          <h2 class="text-c">Download Our App</h2>
          <div class="btns clearfix text-c">
            <span class="app-thanks"><a href="https://itunes.apple.com/us/app/novelinked-social-book-swaps/id1031267627" target="_blank"><img src="assets/app-icon2.png" alt=""></a></span>
            <!-- <span class="logo-thanks"><a href="http://www.novelinked.com/" target="_blank"><img src="assets/logo.png" alt="" width="100%"></a></span> -->
            <span class="gplay-thanks"><a href="https://play.google.com/store/apps/details?id=com.novAlinked" target="_blank"><img src="assets/gplay-icon2.png" alt=""></a></span>
          </div>
          <%#if @contact_us.quotes%>
            <!-- <div class="thanksList">               -->
              <!-- <p><%#=quote(@contact_us.quotes)%></p> -->
            <!-- </div> -->
          <%#end%>
          <h2 class="text-c">Share Us on</h2>
        </div>
       
        <div class="row">
          <div class="put-center">
            <div class="foter-social">
              <ul class="banner-social-buttons list-inline">

                <li><a href="#-" id="share_button" class="f-ico"></a></li>
                <li><a href="https://twitter.com/home?status='World's' Only Social Book Swapping App, download from https://itunes.apple.com/us/app/novelinked-social-book-swaps/id1031267627 or https://play.google.com/store/apps/details?id=com.novAlinked" target="_blank" class="t-ico"></a></li>
                <li><a href="#-" target="" onclick="window.open('https://plus.google.com/share?url=<%=request.url%>','name','width=600,height=400')" class="g-ico"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <%else%>
      <div class="col-md-8 col-md-offset-2 about-head thnk-p">
        <h3 class="text-c">Thank You!!</h3>
        <div class="row">
          <div class="text-area">
            <p class="text-c">Tell your friends to join the fun</p>
          </div>
        </div>
        <div class="row">
          <div class="put-center">
            <div class="foter-social">
              <ul class="banner-social-buttons list-inline">
                <li><a href="https://www.facebook.com/Novelinked" class="f-ico"></a></li>
                <li><a href="https://twitter.com/Novelinked" class="t-ico"></a></li>
                <li><a href="https://plus.google.com/114794872396110872910/posts" class="g-ico"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <%end%>		
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright text-muted small">© 2015 All rights reserved.</p>
      </div>
      <div class="col-md-4 pull-right col-sm-6">
        <ul class="list-inline pull-right marg-10 footr">
          <li>
            <a href="/privacy_policy">Privacy Policy</a>
          </li>
          <li class="footer-menu-divider">|</li>
          <li>
            <a href="/terms_of_use">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="exampleModalLabel" class="modal-title">Your Details</h4>
      </div>
      <div class="modal-body">
        <%= form_for :contact_us,url: contact_us_path, :html=>{:class => "contact_us_form",id: "contact-form"} do |f| %>
        <div class="form-group">
          <label for="exampleInputEmail1" class="label-txt">Name</label>
          <%= f.text_field :name, autofocus: true, :class => "form-control form-c" %>
          <span class="error-name error"></span>
        </div>
        <div class="form-group">
          <label class="label-txt" for="exampleInputEmail1">Email</label>
          <%= f.text_field :email, :class=> "form-control form-c"  %>
          <span class="error-email error"></span>
        </div>
        <div class="form-group">
          <label class="label-txt" for="exampleInputEmail1">Country</label>
          <%= country_list%>  
        </div>
        <div class="form-group">
          <label class="label-txt" for="exampleInputEmail1">Gender</label>
          <div class="radio">
            <label>
            <%= f.radio_button :gender, 'Male', :checked=> true %>
            Male
            </label>
          </div>
          <div class="radio">
            <label>
            <%= f.radio_button :gender, 'Female' %>
            Female
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="label-txt" for="exampleInputEmail1">Author Code (if any)</label>
          <%= f.text_field :author_code, :class=> "form-control form-c"  %>
        </div>
      </div>
      <div class="modal-footer put-center">
        <a href="#" class="btn btn-default btn-red" type="button" id = "contact_us_valid" onclick="$('.contact_us_form').submit();">Journey With Us</a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Bootstrap Core JavaScript -->
</body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=961922593876020&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
<div class="col-xs-4 col-md-2"> <%#= link_to "F Share","#",:id => "share_button"%>

<script type="text/javascript">
    
        $(document).on('click','#share_button',function(e){
            e.preventDefault();
            FB.ui(
            {
                method: 'feed',
                link: '<%=country_event(@contact_us.country,@url)[1]%>',
                name: 'Thank You <%=@contact_us.name%> For Entering Our Event!!',
                picture: '<%=country_event(@contact_us.country)[0]%>',
                caption: 'Novelinked',
                description: 'Novelinked is the only Social Book Swapping App which promises you an unlimited supply of Free Books of your Favorite Authors. Download Us and Enter A New World of Free Books!!',
                actions: [
                    { name: 'Novelinked', link: 'http://novelinked.com/' }
                  ],
                message: ''

            });
        });
    </script>