<!DOCTYPE html>
<html>
<head>	
	<% if content_for?(:head) %>
		  <%= yield(:head) %>
		<% end %>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="keywords" content="<%= meta_keywords %>" /> 
    <meta name="description" content="<%= meta_description %>" />

    <meta name="author" content="">
    <title><%= full_title(yield(:title)) %></title>
    
    <%= csrf_meta_tags %>    

  <!-- <title>Meetup & Swap Books of Favorite Authors For Free –
   Novelinked</title> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
 
 <% if params[:action] == "dashboard" %>
	 <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64454858-1', 'auto');
	  ga('send', 'pageview');

	 </script>
 <% end %>


</head>
<body>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Your Details</h4>
		  </div>
		  <div class="modal-body">
			<form>
			  <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Name</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			  </div>
			   <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Country</label>
				<select class="form-control">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1"class="label-txt" >Gender</label>
			  <div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Male
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				Female
			  </label>
			</div>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1"class="label-txt">Author ( If any)</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			</div>
			  
			</form>
		  </div>
		  <div class="modal-footer put-center">
			<button type="button" class="btn btn-default btn-red">Journey With Us</button>
		  </div>
		</div>
	  </div>
	</div> -->
	<!-- Google Code for Remarketing Tag -->
	<!--
	Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
	-->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 939561481;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div >
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939561481/?value=0&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<%= yield %>
</body>


</html>
